/%h2 Learn How to Make Web Applications in a Weekend
/.tagline With Jeremy Walker and Edward Wallit

#banner
    .inner
        .title Learn Web Development
        .tagline 
            In one weekend, we will teach 
            %em you 
            to create websites and web applications. No existing knowledge required.
        .info March 9 - 10 &#183; Earls Court, London &#183; £400.00
        =link_to "Sign&nbsp;up&nbsp;today&nbsp;and&nbsp;receive&nbsp;an&nbsp;early-bird&nbsp;discount&nbsp;»".html_safe, "http://doctorsonrails.eventbrite.co.uk"
            
#front_page.container

    .box
        %h3 Why learn to develop?
        %p In the 21st century, we are surrounded with technology: computers, phones, tablets and much more. The ability to write applications for these devices opens up a world of opportunity for you. Whether you have an idea for your hospital, GP surgery or university, or whether there is just some application that you would like to use yourself, we want to give you the building blocks to get you started. 
        %p Jeremy, one of our teachers, wrote a popular blog post that expands on this - #{link_to "Why Doctors Should Learn To Code", "http://www.ihid.co.uk/blog/why-doctors-should-learn-to-code"}.
        %p 
            The most important reason to learn to write software is an extremely simple one: 
            %strong it's really fun!

    .box
        %h3 What's the format of the course?
        %p 
            We believe the best way to learn is to try things. The days will be broken into segments where we provide teaching and examples, and then set challenges for you to work through. You can 
            %strong work at your own pace, 
            with advanced exercises available for those who pick things up quicker.
        
        %p During the weekend you will create an online CV and an interactive e-portfolio system - real applications that you can use after the weekend.
        %p 
            You will be taught by #{link_to "expert teachers", teachers_path} and receive lots of
            =succeed "." do
                %strong 1-on-1 supervision
            We keep class sizes small (15-20 students) to enable plenty of personal support.
        %p 
        
    .box
        %h3 What will I learn?
        %p You will learn what web applications are, how they work, and how to make your own. You will learn how to design web pages, what a web framework is, how to design a database, and much more.
        %p We will teach you #{link_to "a wide variety of topic and technologies", what_path}, including HTML, CSS, JavaScript, and Ruby on Rails. 
        
    .box
    
        %h3 The weekend is just the start!
        %p After the course you will be able to access all the resources and teaching material that you used during the course.
        %p You will also be given access to private forums where you can ask questions and get support from teachers and fellow students as you start building your own applications. 