/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$main_width: 1000px;
$color_1: #222;
$header_bg: #fdf5e6;
$nav_hover_bg: #f5deb3;

html {
    text-rendering: optimizelegibility;
    font-size: 100%;
    overflow-y: scroll;
}

body, button, input, select, textarea {
    font-family: 'museo-sans', calibri, sans-serif;
}

body {
    font-size:14px;
    font-weight:100;
    margin:0px;
    color:$color_1;
    background:#fff;
}

h2,h3,h4 {
    font-family:"proxima-nova";
}

a {
    color:blue;
    &:visited, &:active, &:focus {
        color:blue;
    }
}

header {
    border-bottom:1px solid #444;
    padding:20px 0px;
    font-family:"proxima-nova";
    background:$header_bg;
    .inner {
        width:$main_width;
        margin:0px auto;
        overflow:hidden;
        &>a {
            display:block;
            float:left;
            text-decoration:none;
        }
    }
    h1 {
        color:#CC0000;
        margin:0px;
        font-size:35px;
        line-height:32px;
        font-weight:100;
        padding-bottom:0px;
        border-bottom:5px double;
        font-style:italic;
        font-family:"museo-sans-condensed";
    }
    #tagline {
        font-size:18px;
    }

    nav {
        float:right;
        a {
            display:block;
            float:right;
            font-size:16px;
            font-weight:300;
            text-decoration:none;
            color:#666;
            padding:10px 20px;
            border-right:1px solid #ddd;
            &:visited, &:active, &:focus {
                color:#666;
            }
            &:hover {
                color:#000;
                background:$nav_hover_bg;
            }
            &:first-child {
                border-right:0px;
                padding-right:0px;
                margin-left:10px;
                margin-top:5px;
                padding: 5px 15px;
                text-shadow: 0 1px 3px rgba(0,0,0,0.5);
                font-weight: 100;
                background: #5bb900;
                box-shadow: none;
                border: 0;
                color: #fff;
                border-color: #57af17;
                border-radius: 3px;
                text-align: center;
                text-decoration:none;
            
                &:visited, &:active, &:focus {
                    color: #fff;
                }
                &:hover {
                    background:#50a300;
                };
            }
        }
    }
}

#banner {
    background-color:#444;
    background-image:image-url('banner_strip.jpg');
    background-size:auto 400px;
    background-repeat:repeat-x;
    border-bottom:1px solid #444;
    font-family:"proxima-nova";
    .inner {
        background-image:image-url('banner.png');
        background-repeat:no-repeat;
        background-position:top right;
        background-size:auto 400px;
        margin:0px auto;
        width:$main_width;
        height:400px;
            
        .title {
            padding-top:67px;
            font-size:40px;
            font-weight:300;
            color:#fff;
            padding-bottom:23px;
            top:40px;
            text-shadow:0px 0px 8px rgba(0,0,0,1), 0px 0px 40px rgba(0,0,0,1);
        }
        .tagline {
            width:420px;
            font-size:21px;
            padding-bottom:20px;
            color:#fff;
            top:200px;
            text-shadow:0px 0px 8px rgba(0,0,0,1), 0px 0px 40px rgba(0,0,0,1);
            em {
                text-decoration:underline;
                padding-right:3px;
            }
        }
        .info {
            font-size:21px;
            padding-bottom:20px;
            color:#fff;
            top:200px;
            text-shadow:0px 0px 8px rgba(0,0,0,1), 0px 0px 40px rgba(0,0,0,1);
        }
        
        a {
            display:inline-block;
            font-size:21px;
            font-weight:300;
            padding: 12px 32px;
            text-shadow:0px 0px 8px rgba(0,0,0,1), 0px 0px 40px rgba(0,0,0,1);
            font-weight: 100;
            margin-top: 15px;
            background: #5bb900;
            box-shadow: none;
            border: 0;
            color: #fff;
            border-color: #57af17;
            border-radius: 3px;
            text-align: center;
            text-decoration:none;
            
            &:visited, &:active, &:focus {
                color: #fff;
            }
            &:hover {
                background:#50a300;
            };
        }
        //}
    }
}

.container {
    width:$main_width;
    margin:0px auto;
    padding:0px;
    
    h2 {
        font-size:40px;
        margin-top:30px;
        margin-bottom:20px;
        font-weight:300;
    }
    
    h3 {
        font-size:27px;
        margin-top:30px;
        margin-bottom:20px;
        font-weight:300;
    }
    p {
        line-height:23px;
        font-weight: 100;
    }
    
    #discount {
        background:green;
        color:white;
        border:purple;
        padding:20px;
        margin:20px 40px;
        text-align:center;
        h2 {
            margin-top:0px;
        }
    }
}

#front_page.container {
    p {
        font-size:17px;
    }
    .box {
        width:450px;
        float:left;
        margin-right:100px;
        margin-top:20px;
        text-align:justify;
        &:nth-child(even) {
            margin-right:0px;
        }
        &:nth-child(3) {
            clear:both;
        }
    }
}

#what.container {
    font-size:16px;
}

#attendeees.container {
    font-size:16px;
    .field {
        margin-bottom:10px;
        label {
            width:100px;
            display:inline-block;
        }
        
        #password, #username {
            width:200px;
            border:1px solid #aaa;
            padding:3px;
            font-size:16px;
        }
    }
    .btn {
        font-size:16px;
        border-right:0px;
        padding-right:0px;
        margin-top:5px;
        padding: 5px 15px;
        text-shadow: 0 1px 3px rgba(0,0,0,0.5);
        font-weight: 100;
        background: #5bb900;
        box-shadow: none;
        border: 0;
        color: #fff;
        border-color: #57af17;
        border-radius: 3px;
        text-align: center;
        text-decoration:none;
    
        &:visited, &:active, &:focus {
            color: #fff;
        }
        &:hover {
            background:#50a300;
        };
    }
}

#teachers.container {

    .intro {
        font-size:18px;
        margin-bottom:30px;
    }

    .teacher {
        position:relative;
        height:300px;
        padding-left:320px;
        background-size:300px 300px;
        background-repeat:no-repeat;
        margin-bottom:30px;
        font-size:16px;
    
        h3 {
            margin:5px 0px 5px 0px;
            font-size:25px;
            float:left;
            margin-right:10px;
        }
        .job {
            float:left;
            margin-top:15px;
            font-size:13px;
            a {}
        }
        .links {
            position:absolute;
            bottom:0px;
            left:211px;
            background:#fff;
            border: 1px solid #444;
            border-radius:5px 0px 0px 0px;
            padding:5px;
    
            .twitter, .github, .website {
                background-repeat:no-repeat;
                background-size:20px;
                margin-right:3px;
                height:20px;
                width:20px;
                line-height:20px;
                vertical-align:middle;
                display:inline-block;
            }
            .twitter {
                background-image:image-url('twitter.png');
            }
            .github {
                background-image:image-url('github.png');
            }
            .website {
                background-image:image-url('website.png');
            }
        }
        .tagline {
            clear:both;
            font-size:italic;
            padding-bottom:15px;
            margin-bottom:15px;
            border-bottom:1px solid #ddd;
        }
        .bio {
            padding-top:0px;
            p {
                margin:8px 0px;
            }
            ul {
                padding-left:0px;
                margin-left:30px;
            }
        }
    }
}