!!!
%html
    %head
        %title Doctors on Rails
        = stylesheet_link_tag    "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
    
        %script{type:"text/javascript", src:"//use.typekit.net/dwd8tis.js"}
        :javascript
            try{Typekit.load();}catch(e){}

    %body
        %header
            .inner
                %nav
                    =link_to "Reserve Your Place »", "http://doctorsonrails.eventbrite.co.uk"
                    =link_to "Attendees&nbsp;Area".html_safe, attendees_path
                    =link_to "Teachers", teachers_path
                    =link_to "What&nbsp;We&nbsp;Teach".html_safe, what_path
                    =link_to "Home", root_path
            
                =link_to root_path do
                    %h1 Doctors on Rails
                /#tagline Learn how to write web applications in one weekend
        = yield